################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/test_for_git/test_for_git/obj
/test_for_git/test_for_git/bin/Debug/net6.0
/test_for_git/.vs/test_for_git
